{% extends 'index.html' %}

{% block content %}

{% if video_data %}

<iframe width="420" height="315"
  src="{{video_data.yt_player}}">
</iframe> 

<table class="info">
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Link</th>
    </tr>
    <tr>
      <td>{{video_data.title}}</td>
      <td>{{video_data.author}}</td>
      <td><a href="{{video_data.yt_player}}">Link</a></td>
    </tr>
  </table> 
{% endif %}

<div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
  {% for resolution in resolutions %}
    <form method="post" action="{% url 'download_video' video_id=video_data.id resolution=resolution %}"> {% csrf_token %}
      <button type="submit" class="btn btn-dark download_b">{{resolution}}</button>
    </form>
  {% endfor %}
  
  {% if audio %}
  <form method="post" action="{% url 'download_audio' video_id=video_data.id %}"> {% csrf_token %}
    <button type="submit" class="btn btn-dark download_b">{{audio}}</button>
  </form>
  {% endif %}
</div>


{% endblock %}